.header{
    height: 57px;
    display:block;
    align-items: center;
    background-color: #6DB387;

}
.cont{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #6DB387;
}
#logo{
    position: relative;
    top:10px;
    left: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #6DB387;
}
