.header{
    height: 57px;
    display:block;
    align-items: center;
    background-color: rgb(57, 196, 150);

}
.cont{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(57, 196, 150);
}
#logo{
    position: relative;
    top:10px;
    left: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
    background-color: rgb(57, 196, 150);
}
.graph_2{
    position: absolute;
    top: 109.5%;
    left: 1.5%;
    width: 76%;
    height: 67.5%;
    background: green 0% 0% no-repeat padding-box;
    border-radius: 24px ;
    opacity: 1;
    text-align: center;
}