#HideGraph{
    position: absolute;
    z-index: 1000;
    top: 57vh;
    left: 15%;
    width: 65%;
    height: 325%;
    background: white 0% 0% no-repeat padding-box;
    background-image: url(./EveryLogo.gif);
    background-size: cover;
    background-position: 0vh -15vh;
    border-radius: 24px 24px 24px 24px ;
    opacity: 1;
    text-align: center;
}
