.stationName{
    position:absolute;
    z-index: 1000;
    display:block;
    width: 14%;
    height: 6%;
    top: 2%;
    left: 0%;
    border-radius: 15px ;
    font-family: 'Nanum Gothic Coding', monospace;
    opacity: 1;
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(54, 54, 54);
}