.stationName{
    position:absolute;
    z-index: 1000;
    display:block;
    width: 14%;
    height: 6%;
    top: 2%;
    left: 0%;
    border-radius: 15px ;
    opacity: 1;
    background-color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    color: black;
}